*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

#header_section{
    height: 20rem;
    width: 80%;
    border: 0.5px solid grey;
    border-radius: 0.4rem;
    box-shadow: 2px 3px 10px black, -2px -3px 10px grey;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#header_section img{
    width: 10rem;
}

#header_section input{
    width: 15rem;
    height: 2.3rem;
    border-radius: 0.9rem;
    border: 0.1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
}

input::placeholder{
    color:  grey;
    font-size: medium;
    font-style: italic;
    font-family: sans-serif;
    letter-spacing: 1px;
}

#header_section input:hover{
    box-shadow: 2px 3px 5px grey;
}

#main_section{
    width: 80%;
    height: fit-content;
    margin: auto;
    /* border: 2px solid black; */
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.search_section{
    width: 95%;
    margin: auto;
    height: 10rem;
    border: 5px solid rgb(218, 216, 216);
    border-radius: 0.5rem;
    background-color: rgb(202, 223, 223);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

#link{
    color: grey;
}

.search_section a{  
    text-decoration: none;
}

#title{
    font-weight: 55yObject object dot WT0;
    font-size: 1.4rem;
}

#title:hover{
    text-decoration: underline;
}

#description{
    font-size: 0.9rem
}
